
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head th:replace="layout/layout :: head">
<meta charset="utf-8" />
<title>Articulos</title>


<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>


</head>


<body class="main-layout">
	<!-- header inner -->

	<section id="crud" class="banner_main">
		<div class="container-fluid" layout:fragment="page-content">

			<h1>Articulos</h1>

			
			<table class="table pt-5">
				<thead>
					<tr>

						<th>Imagen</th>
						<th>Nombre</th>
						<th>Descripcion</th>
						<th>Código</th>
						<th>Precio</th>
						<th>Categoria</th>
						<th>Vendedor</th>



					</tr>
				</thead>
				<tbody>

					<tr th:each="article:${articles}">
						<td><img th:src="@{/img/} + ${article.image}"
							style="max-width: 15%; max-height: 15%" /></td>
						<td th:text="${article.name}"></td>

						<td th:text="${article.description}"></td>
						<td th:text="${article.code}"></td>
						<td th:text="${article.price}"></td>
						<td th:text="${article.categoryId.name}"></td>
						<td><a class="sidebar-brand d-flex align-items-center justify-content-center"
				th:href="@{/user/infoUser/} + ${article.usersId.id}" th:text="${article.usersId.name}"></a></td>

					</tr>
				</tbody>
			</table>
			</div>
	</section>
	
	
	<th:block layout:fragment="page-scripts">
		<!-- Bootstrap core JavaScript-->
		<script th:src="@{vendor/jquery/jquery.min.js}"></script>
		<script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

		<!-- Core plugin JavaScript-->
		<script th:src="@{vendor/jquery-easing/jquery.easing.min.js}"></script>

		<!-- Custom scripts for all pages-->
		<script th:src="@{js/sb-admin-2.min.js}"></script>
		<script src="..js/jquery.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</th:block>
</body>
</html>